<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>BBC WebScraper</title>
</head>

<body>
<div>
    <!-- Create Navigation -->
    <nav>
        <div class="nav-wrapper grey lighten-1">
            <a href="#!" class="brand-logo black-text">Mongo Scraper</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="waves-effect waves-light btn teal darken-2 modal-trigger z-depth-5">Saved Articles <i class="material-icons right">description</i></a></li>
                <li><a class="waves-effect waves-light btn teal darken-2 modal-trigger z-depth-5" href="#scrape">Scrape Articles<i class="material-icons right">sort</i></a></li>
            </ul>

            <ul class="side-nav" id="mobile-demo">
                <li><a href="#">Home</a></li>
                <li><a href="#">Saved Articles</a></li>
                <li><a href="#scrape">Scrape Articles</a></li>
            </ul>
        </div>
    </nav>

    <!-- Modals -->
    <div id="scrape" class="modal">
        <div class="modal-content">
            <h4></h4>
            <p>The text here will be dependent on if there are any new articles to scrape.  There will be some click event logic here that will initiate grabbing the element attributes from the BBC URL, and dropping them into the mongo db with all the correct parameters lined up in their proper places.  When the user saves articles, there will be a flag placed on the article, I guess a just a boolean of saved.  Don't think we are actually doing authentication in this case.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
        </div>
    </div>

    <!-- Slider logic -->
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="assets/images/news2.jpg"" alt="news2">
                <div class="caption right-align">
                    <h3>Mongo Scraper</h3>
                    <h5>Scrape Articles from the BBC</h5>
                </div>
            </li>
        </ul>
    </div>


    {{{body}}}


    <footer class="page-footer grey ligthen-1">
        <div class="container">
            <div class="row">
            </div>
        </div>
        <div class="footer-copyright grey darken-1">
            <div class="container">
                © 2017 DG Web Application Enterprises
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>


</div><!-- End Container div -->

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<script>


    $(".button-collapse").sideNav();
    $(document).ready(function(){
        $('.slider').slider({
            indicators: false
        });
        $('.modal').modal();

    });


</script>
</body>
</html>