<div id="notesModal" class="modal">
    <div class="modal-content">
        <h4></h4>
        <p>This is our notes modal</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
</div>