<!-- Collapsible popout logic -->
<div>
<ul class="collapsible popout" data-collapsible="accordion">
    {{#each articles}}
        {{#unless this.saved}}
            <li>
                <div class="collapsible-header">
                    <a href="{{this.link}}" target="_blank"><h5>{{this.headline}}</h5></a></div>
                <div class="collapsible-body"><span>{{this.summary}}</span>
                    <a class=" savebutton waves-effect waves-light btn teal lighten-1 z-depth-5 right">Save</a>
                </div>
            </li>
        {{/unless}}
    {{/each}}
</ul>
</div><!-- End Collapsible Popouts -->




