<!-- Collapsible popout logic -->
<div>
<ul class="collapsible popout" data-collapsible="accordion">
    {{#each articles}}
        {{#if this.saved}}
            <li>
                <div class="collapsible-header">
                    <a href="{{this.link}}" target="_blank"><h5>{{this.headline}}</h5></a></div>
                <div class="collapsible-body"><span>{{this.summary}}</span>
                    <a class="notes waves-effect waves-light btn teal lighten-1 z-depth-5 right">Add Note</a>
                    <a class="delete waves-effect waves-light btn yellow darken-5 z-depth-5 right" data-id="{{this.id}}">Delete Article</a>
                </div>
            </li>
        {{/if}}
    {{/each}}
</ul>
</div><!-- End Collapsable Popouts -->





